.my-textbox {
    border: 1px solid #17a2b8; /* Cambiar "red" por el color deseado */
}
.card-img-top {
    height: 300px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.card-body {
    margin-bottom: 1rem;
    margin-bottom: 0;   
}
.card {
    border: 1px solid black;
}


@media screen and (max-width: 576px) {
    .card {
        height: auto;
    }
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center; /* Centra el contenido del footer */
    background-color: #007bff;
    padding: 20px 0;
}
.footer button {
        margin: 4px auto; 
        padding: 5px 10px; 
    }
/* Estilo personalizado para el control DropDownList */
.custom-dropdown {
    padding: 10px 14px;
    border: 1px solid #17a2b8;
    border-radius: 5px;
    background-color: #fff;
    color: #000000;
    font-size: 16px;
    width: 100%;
}

    /* Estilo personalizado para los elementos de la lista desplegable */
    .custom-dropdown option {
        background-color: #fff;
        color: #fff;
        font-size: 16px;
        border: none;
    }

    /* Estilo personalizado para el hover del control DropDownList */
    .custom-dropdown:hover {
        border-color: #000000;
    }

    /* Estilo personalizado para el dropdown expandido */
    .custom-dropdown:focus::-ms-value {
        background-color: #fff;
        color: #fff;
    }

    .custom-dropdown:focus {
        scrollbar-color: #17a2b8 white;
    }        
        .custom-dropdown:focus option {
            background-color: #fff;
            color: #000000;
        }
@media (max-width: 480px) {
    /* Estilos personalizados para dispositivos móviles */
    .custom-dropdown option {
        font-size: 14px;
    }

    #ddField {
        font-size: 14px;
    }

    #ddCriteria {
        font-size: 14px;
    }
}


.btn-favorite {
    background-color: white;
}
.btn-favorite {
    position: absolute;
    bottom: 4%;
    right: 5.5%;
}

.profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 576px) {
    .profile-form {
        flex-direction: row;
        justify-content: center;
    }

        .profile-form .col-4 {
            max-width: 400px;
        }
}
@media (max-width: 767px) {
    .card-container {
        width: 50%;
    }
}






























